
header h1 {
font-size: 100px;
}

#uvid {
    color: white;
}

.low {
background-color: green;
}

.moderate {
background-color: yellow;
}

.high {
background-color: orange;
}

.veryHigh {
background-color: red;
}

.extreme {
background-color: violet;
}

.right-bottom {
    display: flex;
    justify-content: space-around;
}

#search-btn {
background-color: gold;

}